h1{
    color:white;
    text-align:center;
    font-weight:bold;
}

body {
    background-color:black;
}


.panel{
    margin-left:auto; 
    margin-right:0;
    width:250px;
}

.close-btn{
    background: transparent;
    border: none !important;
    margin-left: 5px;
}